@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans&display=swap');

#root {
  position: absolute;
  top: 0;
  left: 0;
}

img {
  margin: 0.5em;
  width: 40%;
  display: inline
}

a {
  color: #3b80fe;
  text-decoration-line: none
}

a:hover {
  color: #75a5fd
}

a img {
  width: 32px;
  margin-left: 0%;
  margin-right: 10%
}

.showcase {
  width: 70%
}

h1 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 2.25em;
  line-height: 1em;
  text-align: left;
}

.hook {
  font-family: 'Bree Serif', serif;
  text-align: left;
  font-size: 2.25em;
  line-height: 1em;
  margin-bottom: 0.5em
}

.summary {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px 5px 0px 0px
}

.leftLine {
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }

  /* Control the left side */
  .left {
    left: 0%;
    /* background-color: #e8e8e8; */
    background-color: #fffb91;
    overflow: hidden;
  }

  .scroll.split.right {
    max-width: 60%;
    height: 100vh;
    overflow-y: scroll;
    right: 0;
    width: 60%;
  }

  .in {
    height: 100vh
  }

  .centered {
    position: relative;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .leftCenter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
}

@media only screen and (max-width: 599px){
  img {
    width: 30%;
  }

  .left {
    height: 100vh;
    background-color: #fffb91;
  }

  .in {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .in > .centered {
    transform: translateY(20%);
  }

  .split.left {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
  }

  .centered {
    width: 50%;
    margin: auto auto
  }
}